{% extends 'base.html' %}

{% block containt %}
    <h1 class="mt-5 text-center">Here is your Order History</h1>
    {% if ordered_car %}
        {% comment %} <h1>{{car.name}}</h1> {% endcomment %}
        <div class="row gap-3 w-75 mx-auto mt-5">
            {% for order in ordered_car %}
                
                <div class="card col-6" style="width: 18rem;">
                    <img src="{{order.car.picture.url}}" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{order.car.name}}</h5>
                    <p class="card-text">{{order.car.description | truncatechars:40}}</p>
                    {% comment %} <p class="card-text">Quantity: {{car.quantity}}</p> {% endcomment %}
                    <p class="card-text"><b>Price:</b> ${{order.car.price}}</p>
                    <p class="card-text"><b>parches_date:</b> ${{order.parches_date}}</p>
                    {% comment %} <a href="{% url "car_detail" pk=car.pk %}" class="btn btn-primary">See Details..</a> {% endcomment %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock  %}